---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/ScienceToKeepAnIon"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/ScienceToKeepAnIon', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
  <label for="bd-email">Enjoyed this post? Never miss out on future posts by subscribing to this blog by E-mail: </label>
  <input type="email" name="email" id="bd-email" STYLE = "background-color: #121212;" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" STYLE = "background-color: #121212; color: #F786AA; cursor: pointer;" />
  </form>
  <br>Or
  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>
  
</div>

<script>
  {%- include scripts/article.js -%}
</script>
